.upload-picture-content {
    text-align: center;
}

.custom-blockquote {
    font-family: 'PingFang SC',serif;
    margin-top: 15px;
}

.upload-click {
    width: 50%;
    height: 200px;
    background-color: #f2f2f2;
}

#uploadPicSuccess {
    margin-top: 30px;
}
